<h1> Review Page for <%=@assignment.name %> </h1>

<div id="container"></div>

<div class="container-fluid">
  <div class="row panel panel-default reviewLayout" >
    <div class="col-md-2 panel-heading panel-title">
      Cohort
    </div>
    <div class="col-md-6 panel-heading panel-title">
      Review
    </div>
    <div class="col-md-2 panel-heading panel-title">
      Rating
    </div>
    <div class="col-md-2 panel-heading panel-title">
      Do it or F*** it?
    </div>

    <!-- this is going to have a form section at some point maybe. -->
    <% @reviews.each do |review| %>
    <div class="col-md-2 panel-body">
      <p> <%= review.cohort_id %> </p>
    </div>
    <div class="col-md-6 panel-body">
      <p> <%=review.review_txt %> </p>
    </div>
    <div class="col-md-2 panel-body">
      <p> <%=review.rating %> </p>
    </div>
    <div class="col-md-2 panel-body">
      <p> <%=review.doItFIt %> </p>
    </div>
  </div>
  <% end %>
</div>
